<div id="preLogin" class="chatPart visible">
    <input type="text" id="name" style="width:350px;" placeholder="What's your name?"/>
    <input type="button" id="setName" value="Get Started!"/>
</div>
<div id="postLogin" class="chatPart">
    <div id="content" style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;'></div>
    <div id="userContainer">
        <h3>Users</h3>
        <div id="userList"></div>
    </div>


    <div class="controls">
        <input type="text" id="userInput" style="width:350px;" placeholder="Enter your text"/>
        <input type="button" id="send" value="send"/>
    </div>
</div>

