<div id="appContainer">

    <!--The Login Screen-->
    <div id="preLogin" class="chatPart visible">
        <h3>Welcome!</h3>
        <input type="text" id="name" placeholder="What's your name?"/>
        <input type="button" id="setName" value="Get Started!"/>
    </div>

    <!--The Actual Chat-->
    <div id="postLogin" class="chatPart">
        <div id="content"></div>
        <div id="userContainer">
            <h3>Users</h3>
            <div id="userList"></div>
        </div>

        <div id="controls">
            <span id="usernameDisplay"></span>
            <input type="text" id="userInput"/>
            <input type="button" id="send" value="send"/>
        </div>
    </div>

</div>

